<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="./home.css">
</head>
<body>
    <img src="" alt="" >
    <div id="layout-desktop" class="cps-page">
      <div id="cpsHeaderOutLine">
        <header id="cpsHeader" class="cps-header bannerTopHead sticky">
          <div id="bannerTopHead">
            <div class="cps-container">
              <div class="swiper-container swiper-container-initialized swiper-container-horizontal">
                <div class="swiper-wrappep">
                  <div class="swiper-slide">Noi dung trai</div>
                  <div class="swiper-slide">Noi dung giua</div>
                  <div class="swiper-slide">Noi dung phai</div>
                </div>
                <div class="swiper-button-prev">Qua trai</div>
                <div class="swiper-button-next">Qua phai</div>
              </div>
            </div>
          </div>
          <div class="cps-container nav-container">
            <nav class="cps-navbar">
              <a href="" class="navbar-brand button__home">Logo</a>
              <a href="" class="header-item btn-menu button__menu">Danh mục</a>
              <div id="menu-main" class="menu-container">Menu-bar</div>
              <div id="dropdown-region" class="dropdown">Xem gia tại</div>
              <div class="box-search cps-navbar__search">Search</div>
              <a href="" class="header-item about-contact button__contact-header">Gọi mua hàng</a>
              <a href="" class="header-item about-store button__link-address">Cửa hàng gần bạn</a>
              <a href="" class="header-item about-delivery-tracking button__link-to-history">Tra cứu đơn hàng</a>
              <a href="" class="header-item about-cart button__link-to-cart">Giỏ hàng</a>
              <div class="login-btn">Tài khoản</div>
            </nav>
          </div>
        </header>
        <!-- ----- -->
        <!-- <div class="clear"></div> -->
        <!-- ----- -->
        <!-- <div class="header-overlay active"></div> -->
        <!-- ----- -->
        <div id="modalLogin" class="modal">
        </div>
        <!-- ----- -->
        <div class="modal-noti bannerTopHead"></div>
        <!-- ----- -->
      </div>
      <!-- -------------------------- -->
      <div class="cps-container spc-body">
        <div class="cps-homepage">
          <h1 style="position: fixed; top: -100px;">CellphoneS - Điện thoại, laptop, tablet, phụ kiện chính hãng</h1>
          <!-- - -->
          <div>1
            <div class="block-top-home is-flex">
              <div id="menu-main" class="menu-container">Trái</div>
              <div class="block-top-home__sliding-banner">Giữa</div>
              <div class="block-top-home__right-banner">Phải</div>
            </div>
            <div class="horizontal-banner"></div>
          </div>
          <!-- - -->
          <div>Hot Sale cuối tuần
            <div>
              <div class="block-hot-sale">
                <div class="box-title"></div>
                <div class="box-content"></div>
              </div>
            </div>
          </div>
          <!-- - -->
          <div class="block-categories is-desktop mt-0 menu-mobile-device"></div>
          <!-- - -->
          <div>Điện thoại nổi bật nhất
            <div class="block-featured-product">
              <div class="product-list-title is-flex is-flex-wrap-wrap"></div>
              <div class="product-list"></div>
            </div>
          </div>
          <!-- - -->
          <div>Laptop
            <div class="block-featured-product">
              <div class="product-list-title is-flex is-flex-wrap-wrap"></div>
              <div class="product-list"></div>
            </div>
          </div>
          <!-- - -->
          <div>Màn hình, máy tính để bàn
            <div class="block-featured-product">
              <div class="product-list-title is-flex is-flex-wrap-wrap"></div>
              <div class="product-list"></div>
            </div>
          </div>
          <!-- - -->
          <div>Máy tính bảng
            <div class="block-featured-product">
              <div class="product-list-title is-flex is-flex-wrap-wrap"></div>
              <div class="product-list"></div>
            </div>
          </div>
          <!-- - -->
          <div>Âm thanh
            <div class="block-featured-product">
              <div class="product-list-title is-flex is-flex-wrap-wrap"></div>
              <div class="product-list"></div>
            </div>
          </div>
          <!-- - -->
          <div>Đồng hồ thông minh
            <div class="block-featured-product">
              <div class="product-list-title is-flex is-flex-wrap-wrap"></div>
              <div class="product-list"></div>
            </div>
          </div>
          <!-- - -->
          <div>Đồ gia dụng
            <div class="block-featured-product">
              <div class="product-list-title is-flex is-flex-wrap-wrap"></div>
              <div class="product-list"></div>
            </div>
          </div>
          <!-- - -->
          <div>Tivi
            <div class="block-featured-product">
              <div class="product-list-title is-flex is-flex-wrap-wrap"></div>
              <div class="product-list"></div>
            </div>
          </div>
          <!-- - -->
          <!-- - -->
          <div class="block-categories is-desktop">Phụ kiện
            <div class="categories-title"></div>
            <div class="categories-content"></div>
          </div>
          <!-- - -->
          <div class="block-categories is-desktop">Linh kiện máy tính
            <div class="categories-title"></div>
            <div class="categories-content"></div>
          </div>
          <!-- - -->
          <div class="block-categories is-desktop">Hàng cũ
            <div class="categories-title"></div>
            <div class="categories-content"></div>
          </div>
          <!-- - -->
          <div class="brand-banner">
            <div class="title">
              <a href="" class="button__link">Ưu đãi sinh viên</a>
            </div>
            <div class="brand-banner__content">
              <a href="" class="brand-banner__item button__link"></a>
              <a href="" class="brand-banner__item button__link"></a>
              <a href="" class="brand-banner__item button__link"></a>
              <a href="" class="brand-banner__item button__link"></a>
            </div>
          </div>
          <!-- - -->
          <div class="brand-banner">
            <div class="title">
              <a href="" class="button__link">Ưu đãi thanh toán</a>
            </div>
            <div class="brand-banner__content">
              <a href="" class="brand-banner__item button__link"></a>
              <a href="" class="brand-banner__item button__link"></a>
              <a href="" class="brand-banner__item button__link"></a>
              <a href="" class="brand-banner__item button__link"></a>
            </div>
          </div>
          <!-- - -->
          <div class="brand-banner">
            <div class="title">
              <a href="" class="button__link">Chuyên trang thương hiệu</a>
            </div>
            <div class="brand-banner__content">
              <a href="" class="brand-banner__item button__link"></a>
              <a href="" class="brand-banner__item button__link"></a>
              <a href="" class="brand-banner__item button__link"></a>
              <a href="" class="brand-banner__item button__link"></a>
            </div>
          </div>
          <!-- - -->
          <div>
            <div id="sforum-homepage" class="mt-1 pb-3">
              <a href="" class="title-anchor button__link-sforum-homepage is-flex is-align-items-center is-justify-content-space-between">
                <p>TIN CÔNG NGHỆ</p>
                <a>Xem tất cả</a>
              </a>
            </div>
          </div>
        </div>
        <!-- ----- -->
        <div>
          <button id="backToTop" class="btn-back-to-top button__back-to-top show">
            <div class="icon-up">^</div>
            <strong>Lên đầu</strong>
          </button>
          <a href="" id="btnZaloChat">Zalo <img src="" alt="Zalo Button"></a>
        </div>
      </div>
      <!-- -------------------------- -->
      <footer class="cps-footer">
        <div class="cps-footer__top">
          <div class="cps-container">
            <div class="columns columns is-flex is-flex-wrap-wrap">
              <div class="column is-one-quarter-desktop is-half-tablet is-full-mobile top__box-one"></div>
              <div class="column is-one-quarter-desktop is-half-tablet is-full-mobile top__box-two"></div>
              <div class="column is-one-quarter-desktop is-half-tablet is-full-mobile top__box-three"></div>
              <div class="column is-one-quarter-desktop is-half-tablet is-full-mobile top__box-four"></div>
            </div>
          </div>
        </div>
        <!-- ----- -->
        <div class="cps-footer__bottom">
          <div class="cps-container">
            <div class="bottom__cms">
              <div class="columns">
                <div class="column cms__cms-row">
                  <div class="cms-row__cms-line"></div>
                  <div class="cms-row__cms-line"></div>
                </div>

                <div class="column cms__cms-row">
                  <div class="cms-row__cms-line"></div>
                  <div class="cms-row__cms-line"></div>
                </div>

                <div class="column cms__cms-row">
                  <div class="cms-row__cms-line"></div>
                  <div class="cms-row__cms-line"></div>
                </div>
                
                <div class="column cms__cms-row">
                  <div class="cms-row__cms-line"></div>
                  <div class="cms-row__cms-line"></div>
                </div>
              </div>
            </div>

            <div class="bottom__company-information">
              <div>
                <div class="company-information__address is-flex"></div>
                <div class="company-information__certification is-flex"></div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- -------------------------- -->
      <div id="menu-bottom-tabs" class="tabs is-centered bannerTopHead menu-mobile-reponsive"></div>
    </div>
</body>
</html>