@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto' sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
}
*, :after, :before {
    box-sizing: inherit;
}
:root {
    --vs-transition-timing-function: cubic-bezier(1,0.5,0.8,1);
    --vs-transition-duration: 0.15s;
}
/* div {
    display: block;
    unicode-bidi: isolate;
} */
article, aside, figure, footer, header, hgroup, section {
    display: block;
}
html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    background-color: #fff;
    font-size: 16px;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
}
:root {
    --swiper-navigation-size: 44px;
}
:root {
    --swiper-theme-color: #007aff;
}
:root {
    --vs-disabled-bg: var(--vs-state-disabled-bg);
    --vs-disabled-color: var(--vs-state-disabled-color);
    --vs-disabled-cursor: var(--vs-state-disabled-cursor);
}
:root {
    --vs-transition-timing-function: cubic-bezier(1,0.5,0.8,1);
    --vs-transition-duration: 0.15s;
}
:host, :root {
    --vs-colors--lightest: rgba(60, 60, 60, .26);
    --vs-colors--light: rgba(60, 60, 60, .5);
    --vs-colors--dark: #333;
    --vs-colors--darkest: rgba(0, 0, 0, .15);
    --vs-search-input-color: inherit;
    --vs-search-input-bg: #fff;
    --vs-search-input-placeholder-color: inherit;
    --vs-font-size: 1rem;
    --vs-line-height: 1.4;
    --vs-state-disabled-bg: #f8f8f8;
    --vs-state-disabled-color: var(--vs-colors--light);
    --vs-state-disabled-controls-color: var(--vs-colors--light);
    --vs-state-disabled-cursor: not-allowed;
    --vs-border-color: var(--vs-colors--lightest);
    --vs-border-width: 1px;
    --vs-border-style: solid;
    --vs-border-radius: 4px;
    --vs-actions-padding: 4px 6px 0 3px;
    --vs-controls-color: var(--vs-colors--light);
    --vs-controls-size: 1;
    --vs-controls--deselect-text-shadow: 0 1px 0 #fff;
    --vs-selected-bg: #f0f0f0;
    --vs-selected-color: var(--vs-colors--dark);
    --vs-selected-border-color: var(--vs-border-color);
    --vs-selected-border-style: var(--vs-border-style);
    --vs-selected-border-width: var(--vs-border-width);
    --vs-dropdown-bg: #fff;
    --vs-dropdown-color: inherit;
    --vs-dropdown-z-index: 1000;
    --vs-dropdown-min-width: 160px;
    --vs-dropdown-max-height: 350px;
    --vs-dropdown-box-shadow: 0px 3px 6px 0px var(--vs-colors--darkest);
    --vs-dropdown-option-bg: #000;
    --vs-dropdown-option-color: var(--vs-dropdown-color);
    --vs-dropdown-option-padding: 3px 20px;
    --vs-dropdown-option--active-bg: #5897fb;
    --vs-dropdown-option--active-color: #fff;
    --vs-dropdown-option--deselect-bg: #fb5858;
    --vs-dropdown-option--deselect-color: #fff;
    --vs-transition-timing-function: cubic-bezier(1,-0.115,0.975,0.855);
    --vs-transition-duration: 150ms;
}
svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}
svg{
    fill: #fff;
    font-weight: 700;
    height: 25px;
    margin: 0;
    overflow: hidden;
    vertical-align: middle;
}
div {
    display: block;
    unicode-bidi: isolate;
}
nav {
    display: block;
    unicode-bidi: isolate;
}
a{
    color: #485fc7;
    cursor: pointer;
    -webkit-text-decoration: none;
    text-decoration: none;
}
img {
    height: auto;
    max-width: 100%;
    overflow-clip-margin: content-box;
    overflow: clip;
}
pattern {
    overflow: hidden;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}
span {
    font-style: inherit;
    font-weight: inherit;
    
}

.navbar-burger, blockquote, body, dd, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, html, iframe, legend, li, ol, p, pre, textarea, ul {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 400;
}
/* -----Baner_top--------- */
#cpsHeader.cps-header.sticky {
    left: 50%;
    position: fixed;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
}
#cpsHeader.cps-header {
    background-color: #d70018;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
    width: 100%;
    z-index: 1000;
}
#bannerTopHead {
    background-color: #e9efff;
    max-height: 40px;
    overflow: hidden;
    padding: 5px;
}
.cps-container {
    box-sizing: border-box;
    display: block;
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 1200px;
    /* border: 1px solid rgb(9, 19, 99);  */
}
.swiper-container {
    display: flex;
    width: 100%;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    z-index: 1;
}
.swiper-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    box-sizing: initial;
    display: flex;
    height: 100%;
    position: relative;
    transition-property: transform;
    width: 100%;
    z-index: 1;
}
.swiper-slide {
    width: 33.333%;
    height: 100%;
    /* text-align: center; */
}
.swiper-slide a > img{
    display: block;
    margin: auto;
    min-height: 30px;

}
/* ------------navbar--------------- */

#cpsHeader.cps-header .cps-navbar {
    align-items: center;
    display: flex;
    height: 64px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    transition: all 0.4s ease;
}
/* #cpsHeader.cps-header .cps-navbar > a{
    border: 1px solid rgb(251, 255, 0);
}
#cpsHeader.cps-header .cps-navbar > div{
    border: 1px solid rgb(251, 255, 0);
} */
.navbar-item {
    flex-grow: 0;
    flex-shrink: 0;
}
.navbar-item, .navbar-link {
    color: #4a4a4a;
    display: block;
    line-height: 1.5;
    padding: .5rem .75rem;
    position: relative;
}
#cpsHeader.cps-header .cps-navbar .header-item {
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    height: 42px;
    padding: 3px 5px;
    position: relative;
    -webkit-text-decoration: none !important;
    text-decoration: none !important;
}
#cpsHeader.cps-header .cps-navbar .header-item.about-smember, #cpsHeader.cps-header .cps-navbar .header-item.btn-menu, #cpsHeader.cps-header .cps-navbar .header-item:hover{
    background: hsla(0, 0%, 100%, .2);
}
#cpsHeader.cps-header .cps-navbar .header-item.btn-menu .about__box-icon {
    align-items: center;
    display: flex;
}
#cpsHeader.cps-header .cps-navbar .header-item .about__box-icon {
    margin-right: 5px;
}
#cpsHeader.cps-header .cps-navbar .header-item.btn-menu .about__box-content {
    line-height: 1;
    width: 60px;
}

#cpsHeader.cps-header .cps-navbar .header-item .about__box-content {
    color: #fff;
    font-size: 12px;
    line-height: 1.5;
}
#cpsHeader.cps-header .cps-navbar .header-item.btn-menu .about__box-icon svg {
    height: 20px;
}
#cpsHeader.cps-header .cps-navbar .header-item .about__box-icon svg {
    overflow: hidden;
    vertical-align: middle;
}
#dropdown-region.dropdown .box-local-store .box-content .title {
    color: #fff;
    font-size: 10px;
    line-height: 15px;
}

#dropdown-region.dropdown .box-local-store .box-content p {
    align-items: center;
    display: flex;
    font-size: 14px;
    line-height: 10px;
    margin-bottom: 0;
}
.block:not(:last-child), .box:not(:last-child), .breadcrumb:not(:last-child), .content:not(:last-child), .level:not(:last-child), .message:not(:last-child), .notification:not(:last-child), .pagination:not(:last-child), .progress:not(:last-child), .subtitle:not(:last-child), .table-container:not(:last-child), .table:not(:last-child), .tabs:not(:last-child), .title:not(:last-child) {
    margin-bottom: 1.5rem;
}
.is-flex {
    display: flex !important;
}
.is-justify-content-space-between {
    justify-content: space-between !important;
}
/* .title {
    color: #363636;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
} */
.subtitle, .title {
    word-break: break-word;
}
.navbar-burger, blockquote, body, dd, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, html, iframe, legend, li, ol, p, pre, textarea, ul {
    margin: 0;
    padding: 0;
}
*, :after, :before {
    box-sizing: inherit;
}

#dropdown-region.dropdown .box-local-store .box-content {
    color: #fff;
    min-width: 75px;
    text-align: left;
}
#dropdown-region.dropdown .box-local-store {
    align-items: center;
    background: hsla(0, 0%, 100%, .2);
    border-radius: 10px;
    cursor: pointer;
    display: flex !important;
    float: left;
    margin: 0 10px;
    padding: 3px 5px;
    position: relative;
    text-align: center;
    width: 130px;
}

/* -----navbar_dropdown------ */
.dropdown {
    display: inline-flex;
    position: relative;
    vertical-align: top;
    z-index: 31;
}
#dropdown-region.dropdown .box-local-store {
    align-items: center;
    background: hsla(0, 0%, 100%, .2);
    border-radius: 10px;
    cursor: pointer;
    display: flex !important;
    float: left;
    margin: 0 10px;
    padding: 3px 5px;
    position: relative;
    text-align: center;
    width: 130px;
}
#dropdown-region.dropdown .box-local-store .box-icon {
    float: left;
    height: 25px;
    margin-right: 5px;
    width: 25px;
}
#cpsHeader.cps-header .cps-navbar .box-icon svg {
    fill: #fff;
    font-weight: 700;
    height: 25px;
    margin: 0;
    overflow: hidden;
    vertical-align: middle;
}
#dropdown-region.dropdown .box-local-store .box-content {
    color: #fff;
    min-width: 75px;
    text-align: left;
}
#cpsHeader.cps-header .cps-navbar .box-icon {
    text-align: center;
}

/* -----navbar_search------ */
.box-search {
    float: left;
    margin: 0 10px 0 0;
    width: 300px;
}
.box-search form {
    box-sizing: border-box;
    position: relative;
}
.box-search form .cps-group-input {
    background-color: #fff;
    border-radius: 10px;
}
.is-flex {
    display: flex !important;
}
button, input, select, textarea {
    margin: 0;
}
.box-search form .cps-group-input .input-group-btn button {
    background-color: #fff;
    border: 0;
    border-radius: 10px 0 0 10px;
    box-sizing: border-box;
    color: #707070;
    height: 34px;
    margin-left: 8px;
}
.pr-0 {
    padding-right: 0 !important;
}
.box-search form .cps-group-input .input-group-btn button svg {
    font-size: 18px;
}
.box-search form .cps-group-input .cps-input {
    border: 0;
    border-radius: 0 10px 10px 0;
    font-size: 16px;
    height: 34px;
    outline: none;
    padding: .5rem 2rem .5rem .6rem;
    width: 100%;
}
/* ---navbar_account---- */
#cpsHeader.cps-header .cps-navbar .login-btn {
    min-width: 60px;
}
.smember {
    align-items: center;
    display: flex;
    justify-content: center;
}
.smember {
    background-color: hsla(0, 13%, 74%, 0.2);
    border-radius: 10px;
    cursor: pointer;
    flex-direction: column;
    gap: 1px;
    padding: 3px;
    position: relative;
    transition: all .2s linear;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.smember span {
    color: #fff;
    font-size: 13px;
}
#cpsHeader.cps-header .cps-navbar .login-btn svg {
    width: 22;
    height: 22;
    fill: none;
}

/* -----------------Top home------------------------- */
.block-top-home {
    margin-bottom: 15px;
    margin-top: 120px;
    width: 100%;
}
/* ------left-------- */
.block-top-home #menu-main.menu-container {
    border-radius: 15px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
    display: block;
    height: 376px;
    margin-right: 15px;
    overflow: auto;
    width: 225px;
}
.block-top-home #menu-main.menu-container .menu-wrapper {
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    position: static;
}
#menu-main.menu-container .menu-wrapper {
    left: 10px;
    max-width: 1200px;
    position: absolute;
    top: 100px;
    width: 100%;
    z-index: 9;
}
#menu-main.menu-container .menu-wrapper .menu-tree {
    background-color: #fff;
    border-radius: 10px;
    left: 0;
    min-height: 375px;
    overflow: hidden;
    padding: 0;
    top: 0;
    width: 215px;
}
.block-top-home #menu-main.menu-container .menu-wrapper .menu-tree .label-menu-tree {
    padding: 0 10px;
}
.block-top-home #menu-main.menu-container .menu-wrapper .menu-tree .label-menu-tree .label-item:hover {
    transform: scale(1.05);
    opacity: calc(0.7);
}

#menu-main.menu-container .menu-wrapper .menu-tree .label-menu-tree {
    display: block;
    padding: 2px 10px;
}
#menu-main.menu-container .menu-wrapper .menu-tree .label-menu-tree .label-item {
    align-items: center;
    color: #343a40;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    min-height: 31.3px;
    -webkit-text-decoration: none;
    text-decoration: none;
    width: 100%;
}
#menu-main.menu-container .menu-wrapper .menu-tree .label-menu-tree .label-item .right-content {
    align-items: center;
    display: flex;
}
#menu-main.menu-container .menu-wrapper .menu-tree .label-menu-tree .label-item i.icons-cate {
    height: 25px;
    margin-right: 5px;
    text-align: center;
    width: 25px;
}
#menu-main.menu-container .menu-wrapper .menu-tree .label-menu-tree .label-item a.multiple-link {
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical; 
    color: #343a40;
    display: -webkit-box;
    font-size: 14px;
    font-weight: 500;
    overflow: hidden;
}
#menu-main.menu-container .menu-wrapper .menu-tree .label-menu-tree .label-item .icon-right {
    width: 7.5px;
}
#menu-main.menu-container .menu-wrapper .menu-tree .label-menu-tree .label-item .icon-right svg {
    fill: #777;
    font-size: 12px;
}

#menu-main.menu-container .menu-wrapper .menu-tree-child {
    background-color: #fff;
    border-radius: 0 10px 10px 10px;
    flex-flow: column wrap;
    left: 220px;
    max-height: 60vh;
    min-height: 375px;
    padding: 0 15px;
    position: absolute;
    top: 0;
    width: calc(100% - 230px);
    z-index: 10;
}
/* -----------center------- */
.block-top-home .block-top-home__sliding-banner {
    border-radius: 0 0 10px 10px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
    margin-right: 15px;
    overflow: hidden;
    width: calc(100% - 490px);
}
.block-sliding-home {
    height: 376px;
}
.block-sliding-home .swiper-container.gallery-top {
    height: 78%;
    width: 100%;
}
.block-sliding-home .swiper-container.gallery-top .swiper-slide {
    align-items: center;
    background-color: #fff;
    display: flex;
}
.swiper-slide {
    flex-shrink: 0;
    height: 100%;
    position: relative;
    transition-property: transform;
    width: 100%;
}
.block-sliding-home .swiper-container.gallery-top .swiper-slide a {
    align-items: center;
    display: flex;
    height: auto;
    width: 100%;
}
.block-sliding-home .swiper-container.gallery-top .swiper-slide a {
    align-items: center;
    display: flex;
    height: auto;
    width: 100%;
}

.block-sliding-home .swiper-container.gallery-thumbs {
    box-sizing: border-box;
    height: 22%;
    padding: 0 0 2.4px;
}
.swiper-container-free-mode>.swiper-wrapper {
    margin: 0 auto;
    transition-timing-function: ease-out;
}
.block-sliding-home .swiper-container.gallery-thumbs .swiper-slide {
    align-items: center;
    background: #fff;
    border-radius: 0;
    color: #343a40;
    cursor: pointer;
    display: flex;
    font-size: 12px;
    height: 100%;
    justify-content: center;
    line-height: 20px;
    margin: 0;
    overflow: hidden;
    text-align: center;
    width: 100%;
}


/* ----right------------ */
.block-top-home .block-top-home__right-banner {
    width: 265px;
}
.right-banner {
    height: 376px;
    max-width: 265px;
    width: 100%;
}
.right-banner .right-banner__item {
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
    display: flex;
    margin-bottom: 15.5px;
    min-height: calc(33.33333% - 10px);
    overflow: hidden;
    width: 100%;
}
.right-banner .right-banner__item .right-banner__img {
    float: left;
}

/* -----------------Top banner------------------------- */
.horizontal-banner {
    margin-bottom: 15px;
}
.horizontal-banner .horizontal-banner__item {
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
    display: flex;
    height: auto;
    overflow: hidden;
    width: 100%;
}
.horizontal-banner .horizontal-banner__item img {
    height: 100%;
}

 /* ----------Featured Product----------------- */
.block-featured-product {
    margin-bottom: 10px;
    min-height: 250px;
}
.block-featured-product .product-list-title {
    margin-bottom: 2px;
    padding: 5px 0;
}
.block-featured-product .product-list-title .title {
    display: block;
    font-size: 22px;
    line-height: 40px;
    margin-bottom: 0;
    margin-right: 20px;
    white-space: nowrap;
    
}
.block-featured-product .product-list-title .title h2 {
    color: #444;
    font-weight: 600;
}
.block-featured-product .product-list-title .more-product {
    color: #444;
    display: none;
    line-height: 40px;
    margin-left: auto;
    padding-right: 5px;
}
.block-featured-product .product-list-title .list-related-tag {
    display: flex;
    margin-left: auto;
}
.block-featured-product .product-list-title .list-related-tag a:hover{
    box-shadow: 0 1px 2px 0 rgba(39, 41, 43, 0.1), 0 2px 6px 4px rgba(50, 54, 56, 0.15);
    background-color: #e37171;
    color: #e5e7eb;
}
.block-featured-product .product-list-title .list-related-tag .related-tag:not(:last-child) {
    margin-right: 10px;
}
.block-featured-product .product-list-title .list-related-tag .related-tag {
    background-color: #f3f4f6;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    color: #444;
    float: right;
    font-size: 13px;
    height: 34px;
    padding: 5px 10px;
    white-space: nowrap;
}
/* --------productlist1------- */
.swiper-container-multirow>.swiper-wrapper {
    flex-wrap: wrap;
    gap: 10px;
}
.product-info-container .product-info a .product__name h3, .product-info-container .product-info a .product__name p {
    /* -webkit-line-clamp: 3; */
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 14px;
    font-weight: 600;
    height: 65px;
    overflow: hidden;
    position: relative;
    z-index: 10;
}
.p-2 {
    padding: .5rem !important;
}
.product-list-swiper .swiper-container .swiper-slide {
    border-radius: 15px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
    height: auto;
    /* margin-right: 10px;
    margin-bottom: 10px; */
    max-width: calc(20% - 8px);
}
.product-list-swiper .swiper-container .swiper-slide .product-info-container {
    background-color: transparent;
    border: 0;
    box-shadow: none;
    height: 95%;
    margin: auto;
    min-height: 250px;
    
}
.product-info-container .product-info {
    display: flex;
    flex-flow: column;
    width: 90%;
    padding: 13px ;
    height: 90%;
    transition: all 0.3s ease;
}
.product-info-container .product-info a {
    color: #444;
}
.product-info-container .product-info a .product__image {
    text-align: center;
}
.product-info-container .product-info a .product__image img {
    margin: 10px 0 0;
    width: 160px;
    transition: all 0.4s ease;
}
.product-info-container .product-info a:hover .product__image img{
    transform: translateY(-7px);
}
.product-info-container .product-info a .product__name {
    margin-top: 5px;

}
.block-box-price .box-info__installment {
    background-color: #fef2f2;
    border: 1px solid #d70018;
    border-radius: 5px;
    color: #d70018;
    font-size: 12px;
    margin-bottom: 10px !important;
    padding: 4px 5px;
    width: -moz-fit-content;
    width: fit-content;
}
.product-info-container .product-info a .block-box-price .box-info__box-price {
    align-items: flex-end;
    color: #444;
    display: flex;
    font-family: sans-serif;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 5px;
}
.product-info-container .product-info a .block-box-price .box-info__box-price .product__price--show {
    font-size: 16px;
}
.block-box-price .box-info__box-price .product__price--show {
    color: #d70018;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.1;
}
.product-info-container .product-info a .block-box-price .box-info__box-price .product__price--through {
    font-size: 14px;
}

.block-box-price .box-info__box-price .product__price--through {
    color: #707070;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    -webkit-text-decoration: line-through;
    text-decoration: line-through;
    margin-left: 10px;
}
.product-info-container .product-info a .block-smem-price {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    font-size: 11px;
    margin-bottom: 5px;
}
.product-info-container .product-info a .block-smem-price span {
    color: #d70018;
    font-size: 14px;
    font-weight: 700;
}
.product-info-container .product-info a .product__promotions {
    margin-bottom: 10px;
}
.product-info-container .product-info a .product__promotions .promotion {
    align-items: flex-start;
    background: #f3f4f6;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    display: flex;
    font-size: 12px;
    line-height: 1.5;
    margin-left: 0;
    overflow: hidden;
    padding: 5px;
    text-transform: none;
    width: auto;
}
.product-info-container .product-info a .product__promotions .promotion .coupon-price, .product-info-container .product-info a .product__promotions .promotion .gift-cont {
    /* -webkit-line-clamp: 2; */
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.product-info-container .bottom-div {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 0 10px 0 ;
    width: 90%;
    margin: auto;
}
.product-info-container .bottom-div .product__box-rating {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.product-info-container .bottom-div .product__box-rating .icon-star {
    display: inline;
}
.product-info-container .bottom-div .product__box-rating .icon-star.is-active svg {
    fill: #f59e0b;
}
.product-info-container .bottom-div .btn-wish-list {
    align-items: center;
    display: flex;
    /* margin-right: 3px; */
    margin-top: 5px;
}
.product-info-container .bottom-div .btn-wish-list span {
    color: #777;
    font-size: 12px;
}
#wishListBtn {
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 20px;
    justify-content: center;
    padding: 0;
    width: 20px;
}
#wishListBtn .btn__effect {
    background-color: transparent;
    border: 0;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
#wishListBtn .icon-svg {
    display: inline-block;
    height: 20px;
    vertical-align: middle;
    width: 20px;
}

#wishListBtn .icon-svg--color-cps {
    fill: #d70018;
    color: #d70018;
}
#wishListBtn .icon-svg--color-silver {
    fill: #fff;
    color: #fff;
}
#wishListBtn .broken-heart {
    left: -8px;
    opacity: 0;
    position: absolute;
    top: 4px;
    transform: scale(1.3);
}
#wishListBtn .effect-group {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: rotate(25deg);
    width: 100%;
}
.product-info-container .bottom-div .btn-wish-list span {
    color: #777;
    font-size: 12px;
}
#wishListBtn .effect-group .effect {
    display: block;
    left: 50%;
    position: absolute;
    top: 38%;
    transform-origin: 0 2px;
    width: 20px;
}
/* #wishListBtn .effect-group .effect:before {
    background: #d70018;
    border-radius: 1.5px;
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    right: 0;
}
#wishListBtn .effect-group .effect:after {
    background: #f60;
    border-radius: 50%;
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    right: 10%;
    top: 10px;
    transform: scale(0);
    width: 3px;
} */
.product-info-container .install-0-tag {
    background: #fff;
    border: 1px solid #0c53b7;
    border-radius: 5px;
    color: #0c53b7;
    font-size: 10px;
    font-weight: 500;
    padding: 2px 5px;
    position: absolute;
    right: 0;
    top: 0;
    width: -moz-fit-content;
    width: fit-content;
    cursor: pointer;
    transition: all 0.2s ease;
}
.product-info-container .install-0-tag:hover{
    background: #4e88db;
    color: #fff;
    border: none;
}

/* -------------------laptop-------------------- */
